Workarea/Localization/XLIFF/ektronxliff.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ektron:xliff" elementFormDefault="qualified">

	<xsd:element name="value">
		<xsd:complexType mixed="true">
			<xsd:attribute name="name" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:attribute name="required" type="xsd:boolean"/>

	<xsd:attribute name="menuid" type="xsd:unsignedLong"/>

	<xsd:attribute name="id" type="xsd:unsignedLong"/>

</xsd:schema>